@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup{
    background-color: v.$rosa;
    h3, .dia{
        color: v.$blanco;
        text-align: center;
    }
    .dia{
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.escenarios-contenedor{
    @include m.contenedor; //para centrar contenido, tambien lo tengo en base/ globales
    @include m.tablet{ //para mostrar dos columnas en dispositivos de tamañp mayor o igual a una tablet
        @include m.grid(2); //mixin para crear grids
    }

}

.escenario{
    padding-top: 2rem;
    .nombre-escenario{
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}

.calendario{
    @include m.resetear-lista;
    li {
        padding: 2rem;
        font-weight: 700;
    }
    span{
        font-weight: 400;
    }
}

.bg-amarillo{
    background-color: v.$amarillo;
    li:nth-child(odd){
        background-color: scale-color(v.$amarillo, $lightness: 10%);
    }
}
.bg-verde{
    background-color: v.$verde;
    li:nth-child(odd){
        // odd impares
        // even pares
        background-color: scale-color(v.$verde, $lightness: 10%);
    }
}